$color-grad-900: #111827;
$color-red-900: #7f1d1d;
$color-yellow-900: #78350f;
$color-green-900: #064e38;
$color-blue-900: #1e3a8a;
$color-indigo-900: #312e81;
$color-purple-900: #4c1d95;
$color-pink-900: #831843;
